
<div style="display: flex; justify-content: space-evenly; height: 100px">
  <tzr-cmp-solo-pricing (planSelected)="alert('solo selected');"></tzr-cmp-solo-pricing>
  <tzr-cmp-team-pricing (planSelected)="alert('team selected');"></tzr-cmp-team-pricing>
  <tzr-cmp-enterprise-pricing></tzr-cmp-enterprise-pricing>
</div>

<div style="display: flex; justify-content: space-evenly;">
  <tzr-cmp-api-start-pricing (planSelected)="alert('start selected');"></tzr-cmp-api-start-pricing>
  <tzr-cmp-api-enterprise-pricing></tzr-cmp-api-enterprise-pricing>
</div>



