.pricingCard {
    font-family: 'Roboto', sans-serif;
    border: 2px solid #dbdbdb;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
    text-align: center;
    transition: all 0.4s ease-in-out 0s;
    width: 400px;
    height: 690px;
    position: relative;
  }
  .pricingCard:hover{
    border-top: 2px solid #f6576e;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.14);
  }
  
  .pricingCard .pricingCard-header{
    padding: 30px 10px;
  }
  .pricingCard .heading{
    display: block;
    color: #000;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 15px;
  }
  
  .pricingCard .pricing-plans {
    padding-bottom: 25px;
    border-bottom: 1px solid #d0d0d0;
    color: #000;
    font-weight: 900;
  }
  
  .pricingCard .price-value {
    display: block;
    font-size: 25px;
    font-weight: 800;
    line-height: 35px;
    padding: 0 10px;
  }
  .pricingCard .price-value .value {
    font-size: 50px;
    color: #f6576e;
  }
  .pricingCard .price-value .currency {
    font-size: 25px;
    color: #f6576e;
  }
  .currency {
    color: #f6576e;
  }
  .pricingCard .price-value .tax {
    font-size: 12px;
    color: #cecdcd;
    text-transform: uppercase;
  }

  .pricingCard .price-value .month {
    font-weight: 400;
    color: #cecdcd;
  }
  
  
  .pricingCard .subtitle {
    color: #707880;
    display: block;
    font-size: 20px;
    margin-top: 5px;
    font-weight: 200;
  }
  
  .pricingCard .pricingContent .pricing-description {
    position: relative;
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #474747;
  }
  
  .pricingCard .pricingContent ul {
    padding: 5px;
    list-style: none;
    color: #7e7d7d;
  }
  
  .pricingCard .pricingContent ul li {
    padding: 5px 0;
    text-align: center;
  }
  
  .pricingCard .pricingContent ul li:nth-child(odd) {
    background-color: #fff;
  }
  
  .pricingCard .pricingCard-sign-up {
    border-top: 1px solid #dbdbdb;
    padding: 40px 0;
    bottom: 0;
    position: absolute;
    width: 100%;
  }
  
  .pricingCard .btn-block {
    width: 50%;
    margin: 0 auto;
    background: #f6576e;
    color:#f8f8f8;
    border:1px solid transparent;
    padding: 25px 25px;
    text-transform: uppercase;
    text-decoration: none;
  }
  
  .pricingCard .btn-disabled {
    background: #f8f8f8;
    color:#5f5f5f;
  }
  